$bckClr: #f9f8f6;
$headerClr: #57606f;
$clearBtn: #ced6e0;
$searchBtn: #946b2d;
$classClr: #740001;
$textCardClr: #57606f;
$cardClr: #ffffff;
$cardName: #2f3542;
$selectFontClr: #747d8c;
$selectBorderClr: #ced6e0;
$parClr: #a4b0be;
$griffClr: #740001;
$slytherinClr: #2a623d;
$ravenClr: #222f5b;
$huffClr: #ecb939;
